<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#if prod}}
    <script data-main="static/js/optimized" src="static/js/lib/require.js"></script>
    {{else}}
    <script data-main="static/js/main" src="static/js/lib/require.js"></script>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="static/css/main.min.css"/>
</head>
<body>
    {{{body}}}
</body>
</html>
