<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Real time chat app</title>
    <script src="static/js/main.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main.min.css"/>
</head>
<body>
    {{{body}}}
</body>
</html>
