<div>
  <div id='users'>
    {{users}}
  </div>
  <div id='content'></div>
  <form action="">
    <input id='field' style='width:350px'></input>
    <input id='send' type='button' value='send' style='width:350px'></input>
  </form>
</div>
